/* ⚔️ Play Turn Button */
#play-turn {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 20px;
    border: 3px solid #C89F5D;
    background-color: #EAD7A5;
    color: #222;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#play-turn:hover {
    background-color: #EAD7A5;
    border-color: #222;
}

#play-turn:active {
    background-color: #EAD7A5;
    border-color: #000;
}
