body {
    font-family: arial, sans-serif;
    text-align: center;
    background-color: #F4F1DE;
    color: #4A2C2A;
}

#game-board {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#player-hand, #battle-zone, #enemy-hand {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    min-height: 100px;
    border: 3px solid #C89F5D;
    padding: 15px;
    width: 80%;
    background-color: #EAD7A5;
    align-items: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

#button {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    background-color: #C89F5D;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.char-card, .essence-card, .ability-card {
    width: 140px;
    background: linear-gradient(135deg, #E3DAC9, #C89F5D);
    border-radius: 6px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    padding: 5px;
    text-align: center;
    border: 2px solid #8B3A3A;
	background-color: #EDE8E4;
	height: auto;
	transition: all 0.3s ease;
	transform-origin: center;
	font-family: arial, sans-serif;
}

.char-img, .essence-img, .ability-img {
    width: 120px;
    height: 120px;
    border-radius: 3px;
	object-fit: cover;
}

.char-name, .essence-name, .ability-name {
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0;
    color: #4A2C2A;
}

.char-stats, .essence-stats, .ability-stats {
    font-size: 10px;
    margin-top: 5px;
}


#battle-area {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    margin: 20px 0;
}

.ability-type {
    background: #8B3A3A;
    color: white;
    display: inline-block;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
}

.ability-classes {
    margin-top: 5px;
}
.battle-zone {
    width: 200px;
    height: 300px;
    border: 4px solid #222;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

#battle-divider {
    font-size: 40px;
    font-weight: bold;
    color: red;
}